    .dot {
        stroke: white;
    }

    .label {
        fill: #777;
    }

    .year.label {
        font: 500 196px "Helvetica Neue";
        fill: #c6dbef;
    }

    .year.label.active {
        fill: #c6dbef;
    }

    .overlay {
        fill: none;
        pointer-events: all;
        cursor: ew-resize;
    }

    .scroll-bar {
        fill: #c6dbef;
    }

    .scroll-dot{
        fill:#5dd1fa;
    }